body {

    background-color: $main-background;
    font-family: $text-font;
    margin-top: 6em;
}

h1,
h2,
h3 {

    font-family: $title-font;
}

h3,
h4 {

    margin-top: 0;
}

a {
    
    text-decoration: none;
    cursor: pointer;
}

