@import url('https://fonts.googleapis.com/css?family=Crete+Round|Lato|Patua+One');


$start-text: 'Patua One', cursive;
$text-font:'Lato', sans-serif;
$title-font: 'Crete Round', serif;
$main-background: rgba(15, 157, 161, 0.644); 
$back-to-top-btn: rgb(29, 29, 170);
$go-back-btn: black;