.start-display {
    
    margin-top: 5em;
    font-family: $start-text;
}

p {

    margin-top: 0;

    @media screen and (min-width: 992px) {
        
        font-size: 1.2em;
    }
}

.form {

    margin-top: 2em;
}

h1 {
    
    font-size: 4em;
}


